.chatside
  .sideheader
    .sideheader__logo
      = current_user.name
    .sideheader__btn
      = link_to new_group_path, class: "sideheader__btn sideheader__btns--icon"do
        = icon('far', 'edit', class: "sideheader__btn--icon1")
        %span<>
      = link_to edit_user_path(current_user), class: "sideheader__btn sideheader__btns--icon" do
        = icon('fas', 'cog', class: "sideheader__btn--icon2")

  .sidecontents
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .sidecontents__group
          = group.name
        .sidecontents__message
          = group.show_last_message

